body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00bcd4, #ff6ec4);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background: #ffffff; /* White background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo h1 {
    background: linear-gradient(to right, #00bcd4, #ff6ec4); /* Gradient text color */
    -webkit-background-clip: text; /* Clip text to background */
    color: transparent; /* Set text color as transparent to show gradient */
    margin: 0;
    padding-left: 20px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    background: linear-gradient(to right, #00bcd4, #ff6ec4); /* Gradient text color */
    -webkit-background-clip: text; /* Clip text to background */
    color: transparent; /* Set text color as transparent to show gradient */
    font-weight: bold;
    transition: background 0.3s;
}

.menu a:hover {
    background: none; /* Remove gradient on hover */
    color: #000;
}
.logoutBTN {
    padding-right:20px ;
}

#logoutBtn {
    padding: 10px;
    background: linear-gradient(to right, #00bcd4, #ff6ec4);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#logoutBtn:hover {
    background: linear-gradient(to right, #00a3bf, #ff3385);
}

.content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background: linear-gradient(to right, #00bcd4, #ff6ec4);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background: linear-gradient(to right, #00a3bf, #ff3385);
}
